*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}


body{
    height: 100vh;
    background: #090d00;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

p{
    color: white;
    width: 40em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font: 400 1em/1.5 "Neutron";
    color: #ffffff40;
    display: inline-block;
    border: 4px double #ffffff40;
    border-width: 4px 0;
    padding: 1.5em 0em;

}

p span{
    font-size: 3rem;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,0.5);
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 80s linear infinite;
    
}

@-webkit-keyframeS anim{
    0%{
        background-position: 0% 50%;

    }

    100%{
        background-position: 100% 50%;
    }
}


a{
    border: 2px solid white;
    padding: 10px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    

}

a:hover{
    background-color: white;
    color: black;
    box-shadow:  0 0 10px orangered,
    0 0 20px orangered,
    0 0 40px orangered,
    0 0 80px orangered;
}